<!-- <div *ngIf="isVisible" class="fixed inset-0 z-10 flex items-center justify-center bg-gray-800 bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg w-1/3">
      <div class="flex justify-between items-center p-4 border-b">
        <h2 class="text-xl font-semibold">Edit Workout</h2>
        <button class="text-gray-500 hover:text-gray-700" (click)="closeModal()">✖</button>
      </div>
      <div class="p-4">
        <form (ngSubmit)="onSubmit()">
          <div class="mb-4">
            <label for="workoutName" class="block text-sm font-medium text-gray-700">Title</label>
            <input type="text" id="workoutName" [(ngModel)]="workoutName" name="workoutName" class="mt-1 block w-full border py-2 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
          <div class="mb-4">
            <label for="workoutDescription" class="block text-sm font-medium text-gray-700">Description</label>
            <textarea id="workoutDescription" [(ngModel)]="workoutDescription" name="workoutDescription" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
          </div>
          <div class="mb-4">
            <label for="workoutDate" class="block text-sm font-medium text-gray-700">Date</label>
            <input type="date" id="workoutDate" [(ngModel)]="workoutDate" name="workoutDate" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
          <div class="mb-4">
            <label for="workoutDuration" class="block text-sm font-medium text-gray-700">Duration</label>
            <input type="number" id="workoutDuration" [(ngModel)]="workoutDuration" name="workoutDuration" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
          <div class="mb-4">
            <label for="workoutType">Workout Type</label>
            <select id="workoutType" [(ngModel)]="workoutType" name="workoutType" class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option value="cardio">Cardio</option>
            <option value="strength">Strength</option>
            <option value="flexibility">Flexibility</option>
            <option value="balance">Balance</option>
            <option value="endurance">Endurance</option>
          </select>
          </div>

          <div class="mb-4">
            <label for="workoutDays">Workout Days</label>
            <div>
                <label for="monday">
                    <input type="checkbox" name="workoutDays" id="monday">
                    Monday
                </label>
                <label for="tuesday">
                    <input type="checkbox" name="workoutDays" id="tuesday">
                    Tuesday
                </label>
                <label for="wednesday">
                    <input type="checkbox" name="workoutDays" id="wednesday">
                    Wednesday
                </label>
                <label for="thursday"> 
                    <input type="checkbox" name="workoutDays" id="thursday">
                    Thursday
                </label>
                <label for="friday">
                    <input type="checkbox" name="workoutDays" id="friday">
                    Friday
                </label>
                <label for="saturday">
                    <input type="checkbox" name="workoutDays" id="saturday">
                    Saturday
                </label>
                <label for="sunday">
                    <input type="checkbox" name="workoutDays" id="sunday">
                    Sunday
                </label>
            </div>
          </div>

          <div class="flex justify-end">
            <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded-md mr-2" (click)="closeModal()">Cancel</button>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->